<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        height: 100vh;
        direction: ltr;
      }
      p {
        padding: 10px;
        text-align: center;
        color: #444;
      }
      div {
        font-size: 400px;
        color: #2ecc71;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <h1>Uh-Oh...</h1>
    <p>
      The page you are looking for may have been moved, deleted,<br />
      or possibly never existed.
    </p>
    <div>404</div>
  </body>
</html>
