{% extends "layout.html" %}

{% block title %}List Of Courses{% endblock title %}

{% block navbar %}
<span>/</span>
<a href="{% url "course-list" %}" style="color: red;">Courses</a>
{% endblock navbar %}

{% block content %}
  {% for item in courses %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% endif %}
        {% include "course/components/course_box.html" %}
    {% if forloop.counter|divisibleby:3 %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
