{% extends "layout.html" %}
{% load static %}

{% block title %}List Of Courses{% endblock title %}

{% block navbar %}
<span>/</span>
<a href="{% url "course-list" %}" style="color: red;">Courses</a>
{% endblock navbar %}

{% block content %}
  {% for item in courses %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
    {% endif %}
        {% include "course/components/course_box.html" %}
    {% if forloop.counter|divisibleby:3 %}
      </div>
    {% endif %}
  {% empty %}
      <p style="font-size:30px; margin:20px;">
        No Results Found For : <span style="font-weight:bold;">{{filter_name}}</span>
      </p>
      <div>
        <img src="{% static 'images/sad.jpg' %}" style="width:600px; box-shadow: 2px 2px 10px 0px #fff; border-radius: 10px;"/>
      </div>
      <div style="font-size:30px; margin:20px;">
        Don't be sad! We can find it!
      </div>
  {% endfor %}
{% endblock content %}
