{% extends "layout.html" %}

{% block title %}Detail Course{% endblock title %}

{% block navbar %}
<span>/</span>
<a href="{% url "course-list" %}" >Courses</a>
<span>/</span>
<a href="#" style="color: red;">Detail</a>
{% endblock navbar %}

{% block content %}
<center>
  <h1>{{id}} : {{name}}</h1>
  <h4>Number of class capacity : {{capacity}}</h4>
  <h4>Number of sessions : {{sessions}}</h4>
  <h4>
    Weekly schadule : ({{schedule.time}}) {% for day in schedule.days %}
    {{day}} {% if not forloop.last %},{% endif%} {%endfor%}
  </h4>
</center>
{% endblock content %}
