{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'course/style.css' %}" />
    <title>{% block title%} مقدار پیش فرض {% endblock title %}</title>
  </head>
  <body>
    <nav>
      <div class="left-nav">
        <a href="#">Home</a>
        {% block navbar %} مقدار پیش فرض {% endblock navbar %}
      </div>
      <div class="right-nav">Elia Academy</div>
    </nav>
    <div class="content">
      {% block content%} مقدار پیش فرض {% endblock content %}
    </div>
  </body>
</html>
